body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:38px;
  width:1208px;
  height:77px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:123px;
  top:0px;
  width:66px;
  height:36px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:189px;
  top:0px;
  width:461px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:457px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:650px;
  top:0px;
  width:92px;
  height:36px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:742px;
  top:0px;
  width:148px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:890px;
  top:0px;
  width:142px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1032px;
  top:0px;
  width:171px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:36px;
  width:123px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:123px;
  top:36px;
  width:66px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:189px;
  top:36px;
  width:461px;
  height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:457px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:650px;
  top:36px;
  width:92px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:742px;
  top:36px;
  width:148px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:890px;
  top:36px;
  width:142px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1032px;
  top:36px;
  width:171px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
