body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:19px;
  top:146px;
  width:8px;
  height:36px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:19px;
  top:222px;
  width:8px;
  height:27px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:19px;
  top:285px;
  width:8px;
  height:27px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:278px;
  top:30px;
  width:60px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:25px;
  top:36px;
  width:372px;
  height:796px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u10 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:51px;
  top:150px;
  width:320px;
  height:568px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u12 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:176px;
  top:96px;
  width:70px;
  height:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:204px;
  top:70px;
  width:14px;
  height:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:53px;
  top:151px;
  width:316px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:61px;
  top:156px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:84px;
  top:676px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:83px;
  top:702px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:307px;
  top:675px;
  width:24px;
  height:24px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:307px;
  top:702px;
  width:18px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:53px;
  top:663px;
  width:316px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u30 {
  position:absolute;
  left:189px;
  top:678px;
  width:45px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:190px;
  top:156px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:329px;
  top:156px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:169px;
  top:717px;
  width:110px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:206px;
  top:708px;
  width:10px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u39 {
  position:absolute;
  left:61px;
  top:743px;
  width:308px;
  height:32px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:28px;
  top:8px;
  width:123px;
  height:22px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:176px;
  top:183px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:64px;
  top:237px;
  width:50px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:124px;
  top:239px;
  width:66px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:65px;
  top:320px;
  width:120px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:124px;
  top:271px;
  width:117px;
  height:16px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:68px;
  top:297px;
  width:117px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:193px;
  top:320px;
  width:120px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:64px;
  top:577px;
  width:50px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:124px;
  top:579px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:124px;
  top:611px;
  width:117px;
  height:16px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:68px;
  top:637px;
  width:117px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:50px;
  top:552px;
  width:318px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u67 {
  position:absolute;
  left:587px;
  top:146px;
  width:8px;
  height:36px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:587px;
  top:222px;
  width:8px;
  height:27px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:587px;
  top:285px;
  width:8px;
  height:27px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:846px;
  top:30px;
  width:60px;
  height:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:593px;
  top:36px;
  width:372px;
  height:796px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u76 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:619px;
  top:150px;
  width:320px;
  height:568px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u78 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:744px;
  top:96px;
  width:70px;
  height:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:772px;
  top:70px;
  width:14px;
  height:14px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:621px;
  top:151px;
  width:316px;
  height:60px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:629px;
  top:156px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:652px;
  top:676px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:651px;
  top:702px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:875px;
  top:675px;
  width:24px;
  height:24px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:875px;
  top:702px;
  width:18px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:621px;
  top:663px;
  width:316px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u96 {
  position:absolute;
  left:757px;
  top:678px;
  width:45px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:758px;
  top:156px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:897px;
  top:156px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:737px;
  top:717px;
  width:110px;
  height:16px;
  color:#FF0000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:774px;
  top:708px;
  width:10px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u104_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u104_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u105 {
  position:absolute;
  left:629px;
  top:743px;
  width:308px;
  height:32px;
  color:#FF0000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:578px;
  top:8px;
  width:123px;
  height:22px;
  font-size:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:753px;
  top:183px;
  width:106px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:632px;
  top:237px;
  width:50px;
  height:50px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:692px;
  top:239px;
  width:66px;
  height:16px;
  color:#19BC9C;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:819px;
  top:239px;
  width:117px;
  height:16px;
  color:#999999;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:692px;
  top:271px;
  width:225px;
  height:32px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:618px;
  top:350px;
  width:318px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u120 {
  position:absolute;
  left:626px;
  top:178px;
  width:24px;
  height:24px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:632px;
  top:365px;
  width:50px;
  height:50px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u123 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:692px;
  top:367px;
  width:66px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:819px;
  top:367px;
  width:117px;
  height:16px;
  color:#999999;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:692px;
  top:399px;
  width:225px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:618px;
  top:465px;
  width:318px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u131 {
  position:absolute;
  left:632px;
  top:483px;
  width:50px;
  height:50px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:692px;
  top:485px;
  width:66px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:819px;
  top:485px;
  width:117px;
  height:16px;
  color:#999999;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:692px;
  top:517px;
  width:225px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:618px;
  top:591px;
  width:318px;
  height:10px;
}
#u139_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u140 {
  position:absolute;
  left:354px;
  top:188px;
  width:233px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:216px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:233px;
  height:1px;
}
#u141 {
  position:absolute;
  left:402px;
  top:162px;
  width:300px;
  height:32px;
  color:#FF0000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:424px;
  top:423px;
  width:163px;
  height:16px;
  color:#FF0000;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:37px;
  top:929px;
  width:123px;
  height:22px;
  font-size:18px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:152px;
  top:649px;
  width:10px;
  height:312px;
}
#u147_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:295px;
  width:20px;
  height:18px;
}
#u147_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:312px;
}
#u148 {
  position:absolute;
  left:162px;
  top:878px;
  width:278px;
  height:32px;
  color:#FF0000;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:32px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:22px;
  top:1077px;
  width:8px;
  height:36px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:22px;
  top:1153px;
  width:8px;
  height:27px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u154 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:22px;
  top:1216px;
  width:8px;
  height:27px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u156 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:281px;
  top:961px;
  width:60px;
  height:10px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:28px;
  top:967px;
  width:372px;
  height:796px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u160 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:54px;
  top:1081px;
  width:320px;
  height:568px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u162 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:179px;
  top:1027px;
  width:70px;
  height:14px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u164 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:207px;
  top:1001px;
  width:14px;
  height:14px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u166 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:178px;
  top:1665px;
  width:72px;
  height:72px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u168 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:56px;
  top:1082px;
  width:316px;
  height:60px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u170 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:64px;
  top:1087px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:56px;
  top:1594px;
  width:316px;
  height:10px;
}
#u173_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u174 {
  position:absolute;
  left:193px;
  top:1087px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:332px;
  top:1087px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:180px;
  top:1114px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:68px;
  top:1168px;
  width:50px;
  height:50px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u181 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:128px;
  top:1170px;
  width:66px;
  height:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:70px;
  top:1251px;
  width:120px;
  height:100px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u185 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:128px;
  top:1202px;
  width:117px;
  height:16px;
  color:#999999;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:72px;
  top:1228px;
  width:117px;
  height:16px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:198px;
  top:1251px;
  width:120px;
  height:100px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u191 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:64px;
  top:1109px;
  width:24px;
  height:24px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u193 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:92px;
  top:1383px;
  width:260px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:70px;
  top:1407px;
  width:45px;
  height:45px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u197 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:130px;
  top:1409px;
  width:66px;
  height:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:130px;
  top:1453px;
  width:117px;
  height:16px;
  color:#999999;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:130px;
  top:1435px;
  width:117px;
  height:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:90px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u205 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:90px;
  top:1631px;
  width:18px;
  height:16px;
  color:#66CC99;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:166px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:166px;
  top:1631px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:235px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u213 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:235px;
  top:1631px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:310px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u217 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:310px;
  top:1631px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:365px;
  top:1386px;
  width:166px;
  height:10px;
}
#u220_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u220_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u220_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u221 {
  position:absolute;
  left:400px;
  top:1409px;
  width:131px;
  height:48px;
  color:#FF0000;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:48px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:980px;
  top:178px;
  width:300px;
  height:48px;
  color:#FF0000;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:347px;
  top:426px;
  width:26px;
  height:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:292px;
  top:426px;
  width:16px;
  height:16px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u228 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:330px;
  top:426px;
  width:16px;
  height:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u230 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:311px;
  top:426px;
  width:26px;
  height:16px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:363px;
  top:426px;
  width:51px;
  height:10px;
}
#u233_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u233_end {
  position:absolute;
  left:34px;
  top:-5px;
  width:18px;
  height:20px;
}
#u233_line {
  position:absolute;
  left:0px;
  top:5px;
  width:51px;
  height:1px;
}
#u234 {
  position:absolute;
  left:347px;
  top:1361px;
  width:26px;
  height:16px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:292px;
  top:1361px;
  width:16px;
  height:16px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u237 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:330px;
  top:1361px;
  width:16px;
  height:16px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u239 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:311px;
  top:1361px;
  width:26px;
  height:16px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:70px;
  top:1381px;
  width:16px;
  height:16px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u243 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:349px;
  top:1382px;
  width:16px;
  height:16px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u245 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:531px;
  top:1077px;
  width:8px;
  height:36px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u247 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:531px;
  top:1153px;
  width:8px;
  height:27px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u249 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:531px;
  top:1216px;
  width:8px;
  height:27px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u251 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:790px;
  top:961px;
  width:60px;
  height:10px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u253 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:537px;
  top:967px;
  width:372px;
  height:796px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u255 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:563px;
  top:1081px;
  width:320px;
  height:568px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u257 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:688px;
  top:1027px;
  width:70px;
  height:14px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u259 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:716px;
  top:1001px;
  width:14px;
  height:14px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u261 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:687px;
  top:1665px;
  width:72px;
  height:72px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u263 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:565px;
  top:1082px;
  width:316px;
  height:60px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u265 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:573px;
  top:1087px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:702px;
  top:1087px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:841px;
  top:1087px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:689px;
  top:1114px;
  width:67px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u274 {
  position:absolute;
  left:573px;
  top:1109px;
  width:24px;
  height:24px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u275 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:550px;
  top:929px;
  width:123px;
  height:22px;
  font-size:18px;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:836px;
  top:1114px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u280 {
  position:absolute;
  left:566px;
  top:1208px;
  width:318px;
  height:10px;
}
#u280_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u280_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u280_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u281 {
  position:absolute;
  left:584px;
  top:1168px;
  width:36px;
  height:36px;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u282 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:624px;
  top:1168px;
  width:66px;
  height:16px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:566px;
  top:1266px;
  width:318px;
  height:10px;
}
#u285_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u285_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u285_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u286 {
  position:absolute;
  left:584px;
  top:1226px;
  width:36px;
  height:36px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u287 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:624px;
  top:1226px;
  width:66px;
  height:16px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:566px;
  top:1326px;
  width:318px;
  height:10px;
}
#u290_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u290_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u290_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u291 {
  position:absolute;
  left:584px;
  top:1286px;
  width:36px;
  height:36px;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u292 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293 {
  position:absolute;
  left:624px;
  top:1286px;
  width:66px;
  height:16px;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:375px;
  top:1371px;
  width:182px;
  height:16px;
  color:#FF0000;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:86px;
  top:444px;
  width:260px;
  height:16px;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:64px;
  top:442px;
  width:16px;
  height:16px;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u300 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:64px;
  top:468px;
  width:66px;
  height:16px;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:124px;
  top:468px;
  width:117px;
  height:16px;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u305 {
  position:absolute;
  left:64px;
  top:488px;
  width:137px;
  height:16px;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u307 {
  position:absolute;
  left:191px;
  top:488px;
  width:117px;
  height:16px;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:64px;
  top:508px;
  width:66px;
  height:16px;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u311 {
  position:absolute;
  left:124px;
  top:508px;
  width:117px;
  height:16px;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:126px;
  top:537px;
  width:156px;
  height:16px;
  color:#19BC9C;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:211px;
  top:471px;
  width:203px;
  height:10px;
}
#u315_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u315_end {
  position:absolute;
  left:186px;
  top:-5px;
  width:18px;
  height:20px;
}
#u315_line {
  position:absolute;
  left:0px;
  top:5px;
  width:203px;
  height:1px;
}
#u316 {
  position:absolute;
  left:424px;
  top:471px;
  width:163px;
  height:32px;
  color:#FF0000;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u318 {
  position:absolute;
  left:322px;
  top:361px;
  width:92px;
  height:10px;
}
#u318_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u318_end {
  position:absolute;
  left:75px;
  top:-5px;
  width:18px;
  height:20px;
}
#u318_line {
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  height:1px;
}
#u319 {
  position:absolute;
  left:424px;
  top:355px;
  width:173px;
  height:16px;
  color:#FF0000;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:329px;
  top:184px;
  width:20px;
  height:20px;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u322 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:247px;
  top:540px;
  width:167px;
  height:10px;
}
#u323_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u323_end {
  position:absolute;
  left:150px;
  top:-5px;
  width:18px;
  height:20px;
}
#u323_line {
  position:absolute;
  left:0px;
  top:5px;
  width:167px;
  height:1px;
}
#u324 {
  position:absolute;
  left:424px;
  top:537px;
  width:173px;
  height:32px;
  color:#FF0000;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u326 {
  position:absolute;
  left:670px;
  top:1178px;
  width:250px;
  height:10px;
}
#u326_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u326_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u326_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u327 {
  position:absolute;
  left:930px;
  top:1178px;
  width:280px;
  height:34px;
  color:#FF0000;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:34px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:692px;
  top:425px;
  width:228px;
  height:39px;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:39px;
}
#u330 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331 {
  position:absolute;
  left:702px;
  top:435px;
  width:300px;
  height:16px;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:968px;
  top:386px;
  width:172px;
  height:48px;
  color:#FF0000;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u335 {
  position:absolute;
  left:800px;
  top:405px;
  width:158px;
  height:10px;
}
#u335_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u335_end {
  position:absolute;
  left:141px;
  top:-5px;
  width:18px;
  height:20px;
}
#u335_line {
  position:absolute;
  left:0px;
  top:5px;
  width:158px;
  height:1px;
}
#u336 {
  position:absolute;
  left:692px;
  top:307px;
  width:228px;
  height:39px;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:39px;
}
#u337 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:702px;
  top:317px;
  width:300px;
  height:16px;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u340 {
  position:absolute;
  left:692px;
  top:543px;
  width:228px;
  height:39px;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:39px;
}
#u341 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342 {
  position:absolute;
  left:702px;
  top:553px;
  width:300px;
  height:16px;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u344 {
  position:absolute;
  left:224px;
  top:1415px;
  width:166px;
  height:10px;
}
#u344_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u344_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u344_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
