body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:28px;
  top:8px;
  width:123px;
  height:22px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:505px;
  top:146px;
  width:8px;
  height:36px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:505px;
  top:222px;
  width:8px;
  height:27px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:505px;
  top:285px;
  width:8px;
  height:27px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:764px;
  top:30px;
  width:60px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:511px;
  top:36px;
  width:372px;
  height:796px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u12 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:537px;
  top:150px;
  width:320px;
  height:568px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u14 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:662px;
  top:96px;
  width:70px;
  height:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:690px;
  top:70px;
  width:14px;
  height:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:539px;
  top:151px;
  width:316px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:547px;
  top:156px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:570px;
  top:676px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:569px;
  top:702px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:793px;
  top:675px;
  width:24px;
  height:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:793px;
  top:702px;
  width:18px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:539px;
  top:663px;
  width:316px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u32 {
  position:absolute;
  left:675px;
  top:678px;
  width:45px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:676px;
  top:156px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:815px;
  top:156px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:655px;
  top:717px;
  width:110px;
  height:16px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:692px;
  top:708px;
  width:10px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u41 {
  position:absolute;
  left:547px;
  top:743px;
  width:308px;
  height:32px;
  color:#FF0000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:496px;
  top:8px;
  width:244px;
  height:22px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:652px;
  top:183px;
  width:37px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:544px;
  top:178px;
  width:24px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:556px;
  top:426px;
  width:300px;
  height:64px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:90px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:90px;
  top:1631px;
  width:18px;
  height:16px;
  color:#66CC99;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:166px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:166px;
  top:1631px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:235px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:235px;
  top:1631px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:310px;
  top:1605px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:310px;
  top:1631px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:28px;
  top:146px;
  width:8px;
  height:36px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:28px;
  top:222px;
  width:8px;
  height:27px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:28px;
  top:285px;
  width:8px;
  height:27px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:287px;
  top:30px;
  width:60px;
  height:10px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:34px;
  top:36px;
  width:372px;
  height:796px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u77 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:60px;
  top:150px;
  width:320px;
  height:568px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u79 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:185px;
  top:96px;
  width:70px;
  height:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:213px;
  top:70px;
  width:14px;
  height:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:184px;
  top:734px;
  width:72px;
  height:72px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u85 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:62px;
  top:151px;
  width:316px;
  height:60px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:70px;
  top:156px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:62px;
  top:663px;
  width:316px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u91 {
  position:absolute;
  left:199px;
  top:156px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:338px;
  top:156px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:62px;
  top:152px;
  width:317px;
  height:566px;
  opacity:0.7;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:566px;
}
#u96 {
  position:absolute;
  left:2px;
  top:275px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:110px;
  top:577px;
  width:50px;
  height:50px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u98 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:123px;
  top:637px;
  width:45px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:190px;
  top:577px;
  width:50px;
  height:50px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:201px;
  top:637px;
  width:45px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:278px;
  top:577px;
  width:50px;
  height:50px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:288px;
  top:637px;
  width:45px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:202px;
  top:686px;
  width:30px;
  height:33px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:28px;
  color:#FF0000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:90px;
  top:494px;
  width:275px;
  height:16px;
  color:#FF0000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:201px;
  top:510px;
  width:10px;
  height:67px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u113_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u113_end {
  position:absolute;
  left:-5px;
  top:50px;
  width:20px;
  height:18px;
}
#u113_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:67px;
}
#u114 {
  position:absolute;
  left:794px;
  top:186px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:539px;
  top:221px;
  width:317px;
  height:100px;
  color:#CCCCCC;
  text-align:left;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:100px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:313px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:800px;
  top:331px;
  width:40px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:826px;
  top:327px;
  width:20px;
  height:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:850px;
  top:326px;
  width:70px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u123 {
  position:absolute;
  left:920px;
  top:320px;
  width:210px;
  height:48px;
  color:#FF0000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:48px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:547px;
  top:328px;
  width:24px;
  height:24px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1112px;
  top:146px;
  width:8px;
  height:36px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1112px;
  top:222px;
  width:8px;
  height:27px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1112px;
  top:285px;
  width:8px;
  height:27px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1371px;
  top:30px;
  width:60px;
  height:10px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1118px;
  top:36px;
  width:372px;
  height:796px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u137 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1144px;
  top:150px;
  width:320px;
  height:568px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u139 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1269px;
  top:96px;
  width:70px;
  height:14px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1297px;
  top:70px;
  width:14px;
  height:14px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u143 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1146px;
  top:151px;
  width:316px;
  height:60px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:60px;
}
#u145 {
  position:absolute;
  left:2px;
  top:22px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1154px;
  top:156px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1177px;
  top:676px;
  width:24px;
  height:24px;
  color:#66CC99;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1176px;
  top:702px;
  width:27px;
  height:16px;
  color:#66CC99;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1400px;
  top:675px;
  width:24px;
  height:24px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u153 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1400px;
  top:702px;
  width:18px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1146px;
  top:663px;
  width:316px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u157 {
  position:absolute;
  left:1282px;
  top:678px;
  width:45px;
  height:30px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:1283px;
  top:156px;
  width:69px;
  height:16px;
  color:#FFFFFF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1422px;
  top:156px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:1262px;
  top:717px;
  width:110px;
  height:16px;
  color:#FF0000;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:1299px;
  top:708px;
  width:10px;
  height:10px;
}
#u165_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u165_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u165_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u166 {
  position:absolute;
  left:1154px;
  top:743px;
  width:308px;
  height:32px;
  color:#FF0000;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:32px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1103px;
  top:8px;
  width:244px;
  height:22px;
  font-size:18px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:22px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1265px;
  top:183px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:1151px;
  top:178px;
  width:24px;
  height:24px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u173 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1402px;
  top:186px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:1146px;
  top:221px;
  width:317px;
  height:100px;
  color:#CCCCCC;
  text-align:left;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:100px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:313px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1407px;
  top:331px;
  width:40px;
  height:16px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1433px;
  top:327px;
  width:20px;
  height:20px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1154px;
  top:328px;
  width:24px;
  height:24px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u183 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1196px;
  top:328px;
  width:24px;
  height:24px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1198px;
  top:330px;
  width:20px;
  height:20px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:571px;
  top:342px;
  width:29px;
  height:10px;
}
#u188_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_line {
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  height:1px;
}
#u189 {
  position:absolute;
  left:600px;
  top:339px;
  width:210px;
  height:16px;
  color:#FF0000;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:1154px;
  top:372px;
  width:299px;
  height:16px;
  color:#FF0000;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:1180px;
  top:350px;
  width:10px;
  height:22px;
}
#u193_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u193_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u193_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
